<p id="notice"><%= notice %></p>
<h2>Lote</h2>
<%= link_to 'Editar', edit_lote_path(@lote) %> |
<%= link_to 'Ver todos los lotes', lotes_path %>
<p>
  <b>Manzana:</b>
  <%= @lote.manzana %>
</p>

<p>
  <b>Loteo:</b>
  <%= @lote.loteo %>
</p>

<p>
  <b>Parcela:</b>
  <%= @lote.parcela %>
</p>

<p>
  <b>Partida:</b>
  <%= @lote.partida %>
</p>

<h2>Valor</h2>
<%= link_to 'Actualizar precio', new_lote_avaluo_path(@lote) %>
<%= render :partial => "avaluos/avaluo",:locals=>{:@avaluo => @lote.avaluos.last} %>

<% if @lote.avaluos.last %>
  <h2>Plan de cuentas</h2>
  <% if !@lote.avaluos.last.payments.last %>
    <%= link_to 'Crear plan de pagos', new_lote_payment_path(@lote) %>
  <% end %>

  <% @lote.avaluos.last.payments.each do |payment| %>
    <%= render :partial =>"/contratos/contratos",:locals=>{:@contratos=>payment.contratos}%>
  <% end %>

<% end %>



