<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @person.direccion %>
</p>

<p>
  <b>Localidad:</b>
  <%= @person.localidad %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
