<p id="notice"><%= notice %></p>

<p>
  <b>Apellido:</b>
  <%= @person.apellido %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @person.apellido_materno %>
</p>

<p>
  <b>Nombre:</b>
  <%= @person.nombre %>
</p>

<p>
  <b>Nacimiento:</b>
  <%= @person.nacimiento %>
</p>

<p>
  <b>Documento:</b>
  <%= @person.documento %>
</p>

<p>
  <b>Nacionalidad:</b>
  <%= @person.nacionalidad_id %>
</p>

<p>
  <b>Civil:</b>
  <%= @person.civil_id %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @person.observaciones %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
