<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_id %><br />
    <%= f.number_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :monto_cents %><br />
    <%= f.number_field :monto_cents %>
  </div>
  <div class="field">
    <%= f.label :monto_currency %><br />
    <%= f.text_field :monto_currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
