<p id="notice"><%= notice %></p>

<p>
  <b>Payment:</b>
  <%= @debt.payment_id %>
</p>

<p>
  <b>Monto cents:</b>
  <%= @debt.monto_cents %>
</p>

<p>
  <b>Monto currency:</b>
  <%= @debt.monto_currency %>
</p>


<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
