<p id="notice"><%= notice %></p>

<p>
  <b>Nupcias:</b>
  <%= @matrimonio.nupcias %>
</p>

<p>
  <b>Person:</b>
  <%= @matrimonio.person_id %>
</p>

<p>
  <b>Person id1:</b>
  <%= @matrimonio.person_id1 %>
</p>


<%= link_to 'Edit', edit_matrimonio_path(@matrimonio) %> |
<%= link_to 'Back', matrimonios_path %>
