<%= form_for([:payment,@pay]) do |f| %>
  <% error_message(@pay) %>

  <div class="field">
    <%= f.hidden_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_pago %><br />
    <%= f.date_select :fecha_de_pago %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.number_field :monto_cents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
