<%= form_for(@pay) do |f| %>
  <% if @pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

      <ul>
      <% @pay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :debt_id %><br />
    <%= f.number_field :debt_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_pago %><br />
    <%= f.date_select :fecha_de_pago %>
  </div>
  <div class="field">
    <%= f.label :monto_cents %><br />
    <%= f.number_field :monto_cents %>
  </div>
  <div class="field">
    <%= f.label :monto_currency %><br />
    <%= f.text_field :monto_currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
