<p id="notice"><%= notice %></p>

<p>
  <b>Debt:</b>
  <%= @pay.debt_id %>
</p>

<p>
  <b>Fecha de pago:</b>
  <%= @pay.fecha_de_pago %>
</p>

<p>
  <b>Monto cents:</b>
  <%= @pay.monto_cents %>
</p>

<p>
  <b>Monto currency:</b>
  <%= @pay.monto_currency %>
</p>


<%= link_to 'Edit', edit_pay_path(@pay) %> |
<%= link_to 'Back', pays_path %>
