<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuotas %><br />
    <%= f.number_field :cuotas %>
  </div>
  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :interes %><br />
    <%= f.text_field :interes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
