<p id="notice"><%= notice %></p>

<p>
  <b>Inicio:</b>
  <%= @payment.inicio %>
</p>

<p>
  <b>Avaluo:</b>
  <%= @payment.avaluo_id %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
