<p id="notice"><%= notice %></p>

<p>
  <b>Inicio:</b>
  <%= @payment.inicio %>
</p>

<%= render :partial => "avaluos/avaluo", :locals=>{:@avaluo => @payment.avaluo}%>
<%= link_to 'Agregar Persona', new_payment_contrato_path(@payment) %>

<%= render :partial => "contratos/contratos",:locals =>{:@contratos => @payment.contratos} %>

<%= link_to 'Ver Pagos', payment_pays_path(@payment) %> |
<%= link_to 'Generar un pago', new_payment_pay_path(@payment) %> |
<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
