<p id="notice"><%= notice %></p>

<p>
  <b>Cuotas:</b>
  <%= @payment.cuotas %>
</p>

<p>
  <b>Inicio:</b>
  <%= @payment.inicio %>
</p>

<p>
  <b>Person:</b>
  <%= @payment.person_id %>
</p>

<p>
  <b>Interes:</b>
  <%= @payment.interes %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
