<p id="notice"><%= notice %></p>

<p>
  <b>Manzana:</b>
  <%= @lot.manzana %>
</p>

<p>
  <b>Loteo:</b>
  <%= @lot.loteo %>
</p>

<p>
  <b>Parcela:</b>
  <%= @lot.parcela %>
</p>

<p>
  <b>Partida:</b>
  <%= @lot.partida %>
</p>


<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
