<%= link_to 'Editar contrato', edit_lote_contrato_path(@lote) %>
<p>
  <b>Inicio:</b>
  <%= @contrato.inicio %>
</p>

<p>
  <b>Cantidad de cuotas:</b>
  <%= @contrato.ncuotas %>
</p>

<p>
  <b>Cuota inicial:</b>
  <%= @contrato.cuota_inicial %>
</p>

<p>
  <b>Interes:</b>
  <%= @contrato.interes %>
</p>

<p>
  <b>Valor de la cuota:</b>
  <%= @contrato.cuota_cents %>
</p>

<h3>Compradores: </h3>
<% if @contrato.compradores %>
  <%= render :partial => "personas/people/people", :locals=>{:@people => @contrato.compradores} %>
<% else %>
  <p>
    <b>No hay compradores en ingresados en este contrato</b>
  </p>
<% end %>

   
<h3>Deuda</h3>
<%= link_to 'Ver Pagos', lote_contrato_pagos_path(@lote)%>
<%= link_to 'Nuevo Pago', new_lote_contrato_pago_path(@lote)%>
<p>
  <b>Cuotas restantes:</b>
  <%= @contrato.try :cuotas_restantes %>
</p>

<% if @contrato.pagos.count > 0 %>
  <h3>ultimo pago</h3>
  <%= render :partial => "pagos/pago",:locals =>{:@pago => @contrato.pagos.last} %>
<% end %>

