<%= semantic_form_for([:payment,@contrato]) do |f| %>
  <%= error_message @contrato %>

  <div class="field">
    <%= f.hidden_field :payment_id %>
  </div>

    <%= f.fields_for :person do |p| %>
      <%= render :partial => "/personas/people/fields",:locals=>{:form=>p} %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
