<%= semantic_form_for([@contrato.avaluo.lote, @contrato]) do |form| %>

  <%= error_message(@contrato) %>

  <%= form.hidden_field :avaluo_id %>

  <%= form.inputs do %>
    <%= form.input :inicio %>
    <p><%= link_to "Ingresar un nuevo cliente", personas.new_person_path %></p>
    <%= form.input :compradores_tokens, :label => "Compradores:",
                   :input_html => {
                     "data-pre" => @contrato.compradores.to_json, :only => [:id, :name] } %>
  <% end %>
  <%= form.buttons %>

<% end %>
