<%= form_for(@contrato) do |f| %>
  <% if @contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
      <% @contrato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inicio %><br />
    <%= f.date_select :inicio %>
  </div>
  <div class="field">
    <%= f.hidden_field :avaluo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
