<!DOCTYPE html>
<html>
<head>
  <title>Limonero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div class="container">
  <div id="menu">
    <%= link_to 'Lotes', "/lotes" %> 
    <%= link_to 'Personas', personas.people_path %>
    <%= link_to 'Pagos', "/pagos" %>
  </div>
  <%= yield %>
</div>

</body>
</html>
